<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Responsive Registration Form</title>
    <meta
      name="viewport"
      content="width=device-width,
      initial-scale=1.0"
    />
    <link
      rel="stylesheet"
      href="Registration-style.css"
    />
  </head>
  <body>
    <div class="container">
      <h1 class="form-title">
        <img
          class="logo"
          src="cardiogram.png"
          alt="logo"
        />&emsp;Registration
      </h1>
      <form action="/register" method="post">
        <div class="main-user-info">
          <div class="user-input-box">
            <label for="firstName">First Name</label>
            <input
              type="text"
              id="firstName"
              name="firstName"
              placeholder="Enter First Name"
              required
            />
          </div>
          <div class="user-input-box">
            <label for="lastName">Last Name</label>
            <input
              type="text"
              id="lastName"
              name="lastName"
              placeholder="Enter Last Name"
              required
            />
          </div>
          <div class="user-input-box">
            <label for="email">Email</label>
            <input
              type="email"
              id="email"
              name="email"
              placeholder="Enter Email"
              required
            />
          </div>
          <div class="user-input-box">
            <label for="phoneNumber">Phone Number</label>
            <input
              type="text"
              id="phoneNumber"
              name="phoneNumber"
              placeholder="Enter Phone Number"
              required
            />
          </div>
          <div class="user-input-box">
            <label for="password">Password</label>
            <input
              type="password"
              id="password"
              name="password"
              placeholder="Enter Password"
              pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{5,}$"
              required
            />
          </div>
          <div class="user-input-box">
            <label for="confirmPassword">Confirm Password</label>
            <input
              type="password"
              id="confirmPassword"
              name="confirmPassword"
              placeholder="Confirm Password"
              pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{5,}$"
              required
            />
          </div>
          <div>
            <span style="color: white; font-size: 13px"
              >Password must be minimum Five characters with at least one letter
              and one number</span
            >
          </div>
        </div>
        <div class="form-submit-btn">
          <input type="submit" value="Register" />
        </div>
        <div class="go-back-btn">
          <a href="home.html" class="goback">Go Back</a>
        </div>
      </form>
    </div>
  </body>
</html>