<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Support</title>
    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <!-- JavaScript Bundle with Popper Bootstrap -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="supportstyle.css"
    />
  </head>
  <body>
    <img
      src="cardiogram.png"
      style="width: 60px; height: 60px; margin-left: 15px; margin-top: 5px"
    />
    <h2 class="support-message">
      <b>Feeling stuck ? We are here to help you :)</b>
    </h2>
    <section>
      <div class="container">
        <div class="row">
          <!--FAQ column-->
          <div class="col-md-6" style="margin-top: 30px">
            <div class="accordion" id="accordionExample">
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseOne"
                    aria-expanded="false"
                    aria-controls="collapseOne"
                    style="
                      --bs-accordion-btn-focus-box-shadow: none;
                      --bs-accordion-active-color: #000;
                      --bs-accordion-active-bg: #fdc100;
                      --bs-accordion-border-color: none;
                    "
                  >
                    How can I use this app?
                  </button>
                </h2>
                <div
                  id="collapseOne"
                  class="accordion-collapse collapse"
                  aria-labelledby="headingOne"
                  data-bs-parent="#accordionExample"
                >
                  <div class="accordion-body">
                    <ul>
                      <li>
                        Complete the <code>registration</code> process by
                        clicking the register button present in the home page
                      </li>
                      <li>
                        After successful registration, <code>login</code> into
                        your account.
                      </li>
                      <li>
                        After login successfully you will be led to your
                        <code>dashboard</code>, where you can see your personal
                        details like height, weight, BMI and daily calorie
                        intake needed (i.e, how much calorie you should consume
                        per day). Also you can select various options like
                        Upload image, track history
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseTwo"
                    aria-expanded="false"
                    aria-controls="collapseTwo"
                    style="
                      --bs-accordion-btn-focus-box-shadow:: none;
                      --bs-accordion-active-color: #000;
                      --bs-accordion-active-bg: #fdc100;
                      --bs-accordion-border-color: none;
                    "
                  >
                    How can I Register?
                  </button>
                </h2>
                <div
                  id="collapseTwo"
                  class="accordion-collapse collapse"
                  aria-labelledby="headingTwo"
                  data-bs-parent="#accordionExample"
                >
                  <div class="accordion-body">
                    Inorder to use our application , registration process is
                    mandatory. This is because we have to keep track of your
                    personal details like height, weight etc.Click on the
                    <code>register</code> button present inside the home page.
                    You will be asked to provide your personal details for
                    providing a personalised experience. Once you have
                    successfully registered you will receive a confirmation mail
                    and you will be redirected to the home page. From there you
                    can login and enter into your Dashboard
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseThree"
                    aria-expanded="false"
                    aria-controls="collapseThree"
                    style="
                      --bs-accordion-btn-focus-box-shadow: none;
                      --bs-accordion-active-color: #000;
                      --bs-accordion-active-bg: #fdc100;
                      --bs-accordion-border-color: none;
                    "
                  >
                    How can I login?
                  </button>
                </h2>
                <div
                  id="collapseThree"
                  class="accordion-collapse collapse"
                  aria-labelledby="headingThree"
                  data-bs-parent="#accordionExample"
                >
                  <div class="accordion-body">
                    It is necessary
                    <strong>complete your registration process</strong> before
                    you login. Once you have succesfully registered, you can
                    click on the <code>login</code> button present inside the
                    home page. You will be led to the Login page where you will
                    be asked to enter your E-Mail ID and password that you
                    entered in the registration process. After successful login
                    you will be led to your Dashboard.
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingFour">
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseFour"
                    aria-expanded="false"
                    aria-controls="collapseFour"
                    style="
                      --bs-accordion-btn-focus-box-shadow: none;
                      --bs-accordion-active-color: #000;
                      --bs-accordion-active-bg: #fdc100;
                      --bs-accordion-border-color: none;
                    "
                  >
                    How can I get the nutritional value of the food that I am
                    eating now?
                  </button>
                </h2>
                <div
                  id="collapseFour"
                  class="accordion-collapse collapse"
                  aria-labelledby="headingFour"
                  data-bs-parent="#accordionExample"
                >
                  <div class="accordion-body">
                    With the help of our <code>Upload Image</code> feature you
                    can upload an image of the meal that you would like to have.
                    Once the image has been uploaded you will be provided with
                    the nutrional content present inside that particular dish.
                    You can find this feature in the <code>menu bar</code>.
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingFive">
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseFive"
                    aria-expanded="false"
                    aria-controls="collapseFive"
                    style="
                      --bs-accordion-btn-focus-box-shadow: none;
                      --bs-accordion-active-color: #000;
                      --bs-accordion-active-bg: #fdc100;
                      --bs-accordion-border-color: none;
                    "
                  >
                    How can I track my daily calorie intake?
                  </button>
                </h2>
                <div
                  id="collapseFive"
                  class="accordion-collapse collapse"
                  aria-labelledby="headingFive"
                  data-bs-parent="#accordionExample"
                >
                  <div class="accordion-body">
                    With the help of our <code>Track History</code> feature you
                    can track your daily calorie intake which will help you to
                    know your current progress and achieve your fitness goal.
                    You can find this feature in your <code>Dashboard</code>.
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingSix">
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseSix"
                    aria-expanded="false"
                    aria-controls="collapseSix"
                    style="
                      --bs-accordion-btn-focus-box-shadow: none;
                      --bs-accordion-active-color: #000;
                      --bs-accordion-active-bg: #fdc100;
                      --bs-accordion-border-color: none;
                    "
                  >
                    How much calorie should I consume per day?
                  </button>
                </h2>
                <div
                  id="collapseSix"
                  class="accordion-collapse collapse"
                  aria-labelledby="headingSix"
                  data-bs-parent="#accordionExample"
                >
                  <div class="accordion-body">
                    With the help of the data that you provide during the
                    registration process like Height, Weight, Daily activities,
                    etc., we will provide you how much calorie you should
                    consume daily which will be shown as
                    <code>Daily calorie Intake</code> in your dashboard.
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--FAQ column-->
          <div class="col-md-6 text-center">
            <img
              src="supportdesk.png"
              class="support-desk"
            />
            <br /><br /><br />
            <button onclick="window.history.back()" class="go-back-button">
              Go back
            </button>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>