body{
    background-color:#D4F1F4;
}
.nav-item{
    text-align: end;
}
.navbar-toggler{
    outline: none !important;
    padding: 0 !important;
}
.navbar-toggler i{
    width: 40px;
}
#bu1{
    text-decoration: none;
}
.navbar{
    background-color:#05445E;   
    top: 0;
    width: 100%;
    overflow: hidden;  
    height: 65px;
}
.nav-link{
    color: white;
    font-weight: 900;
    margin-left: 50px;
    letter-spacing: 2px;
}
.nav-item a:hover{
    color: #FDC100;
}
* {
    box-sizing: border-box;
  }
  
  .row {
    display: flex;
    margin-top: 30px;
    margin-bottom: 15px;
  }
  .box{
    background-color: #a0dfdf;
  }
  .container{
    margin: 50px auto;
    width:40%;
    text-align: center;   
  }
  .container h3{
        color: #272643;  
  }
  .container img{
    object-fit:contain;
  }
  .column {
    flex: 33.33%;
    padding: 5px;
    margin-right:15px;
  }
  #pic{
    height: 100px;
    width: 130px;
  }

#img{
    background-color: #24a0ed;
    color: black;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block; 
}
#bu1{
    background-color:#05445E ;
    color: white;
    font-weight: 800;
    font-size: medium;
    border-style: none;
    text-align:center;
    
}