@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
img.logo {
  height: 60px;
  width: 70px;
  margin: 10px;
}

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: #f1f375d7;
  background-image: url("calorie_calc_bg.png");
  background-blend-mode: color-burn;
  background-size: 430px 400px;
  /*background: linear-gradient(to bottom right, #f9d423 0%, #ff4e50 100%);}*/
}
.container {
  width: 100%;
  max-width: 650px;
  background: rgba(
    0,
    0,
    0,
    0.6
  ); /*fdc100 - 253,193,0   06837f - 6,131,127  b4ffff - 180,255,255  02cecb - 2,206,203*/
  padding: 28px;
  margin: 0 28px;
  border-radius: 10px;
  box-shadow: inset -2px 2px 2px white;
}

.form-title {
  font-size: 26px;
  font-weight: 600;
  text-align: center;
  padding-bottom: 6px;
  color: white;
  border-bottom: solid 1px white;
  display: flex;
  align-items: center;
}

.main-user-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 15px 0;
}

.user-input-box:nth-child(2n) {
  justify-content: end;
}

.user-input-box {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  padding-bottom: 12px;
}

.user-input-box label {
  width: 95%;
  color: white;
  font-size: 20px;
  font-weight: 400;
  margin: 5px 0;
}

.user-input-box input {
  height: 30px;
  width: 95%;
  border-radius: 5px;
  outline: none;
  border: 1px solid grey;
  padding: 0 10px;
}

.gender-title {
  color: white;
  font-size: 20px;
  font-weight: 400;
}

.gender-category {
  margin: 20px 0;
  color: white;
}

.gender-category label {
  padding: 0 20px 0 2px;
}

.gender-category label,
.gender-category input,
.form-submit-btn input {
  cursor: pointer;
}

.form-submit-btn {
  margin-top: 20px;
}

.form-submit-btn input {
  display: block;
  width: 100%;
  margin-top: 10px;
  font-size: 20px;
  padding: 7px;
  border: none;
  border-radius: 3px;
  color: rgb(255, 255, 255);
  background: rgba(253, 193, 0, 0.7);
}

.form-submit-btn input:hover {
  background: rgba(2, 206, 203, 0.7);
  color: rgb(255, 255, 255);
}
.go-back-btn {
  margin-top: 20px;
}
.go-back-btn a {
  display: block;
  width: 100%;
  margin-top: 10px;
  font-size: 20px;
  padding: 7px;
  text-decoration: none;
  border: none;
  text-align: center;
  border-radius: 3px;
  color: rgb(255, 255, 255);
  background: rgba(253, 193, 0, 0.7);
}
.go-back-btn a:hover {
  background: rgba(2, 206, 203, 0.7);
  color: rgb(255, 255, 255);
  cursor: pointer;
}

@media (max-width: 600px) {
  .container {
    min-width: 280px;
  }

  .user-input-box {
    margin-bottom: 12px;
    width: 100%;
  }

  .user-input-box:nth-child(2n) {
    justify-content: space-between;
  }

  .gender-category {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 17px;
  }

  .main-user-info {
    max-height: 380px;
    overflow: auto;
  }

  .main-user-info::-webkit-scrollbar {
    width: 0;
  }
}