* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #fff6bf;
}
.support-message {
  text-align: center;
  margin: 20px 0 !important;
  font-family: sans-serif;
  background-color: transparent;
}
.accordion-item,
.accordion-header {
  background-color: transparent !important;
  border: none !important;
  padding: 0 !important;
  margin-bottom: 20px;
}

.accordion-button {
  width: 100%;
  height: 60px;
  background-color: #fdc100;
  font-weight: bold;
  text-align: left;
  text-decoration: none;
}

.accordion-button:active {
  background-color: #fdc100;
}
.support-desk {
  width: 490px;
  height: 340px;
  margin-top: 20px;
}
.go-back-button {
  color: white;
}
.go-back-button {
  background: lighten(#06837f, 3%);
  border: 1px solid darken(#06837f, 4%);
  box-shadow: 0px 2px 0 darken(#06837f, 5%), 2px 4px 6px darken(#06837f, 2%);
  font-weight: 900;
  letter-spacing: 1px;
  transition: all 150ms linear;
}

.go-back-button:hover {
  background: darken(#06837f, 1.5%);
  border: 1px solid rgba(#000, 0.05);
  box-shadow: 1px 1px 2px rgba(#fff, 0.2);
  color: lighten(#06837f, 18%);
  text-decoration: none;
  text-shadow: -1px -1px 0 darken(#06837f, 9.5%);
  transition: all 250ms linear;
}

/* CSS */
.go-back-button {
  background-color: #06837f;
  background-image: linear-gradient(#06837f, #329ca0);
  border: 1px solid #15aca7;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.12) 0 1px 1px;
  color: #ffffff;
  cursor: pointer;
  font-family: -apple-system, ".SFNSDisplay-Regular", "Helvetica Neue",
    Helvetica, Arial, sans-serif;
  font-size: 15px;
  margin: 0;
  outline: 0;
  padding: 11px 15px 12px;
  text-align: center;
  transition: box-shadow 0.05s ease-in-out, opacity 0.05s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 30%;
}

.go-back-button:hover {
  box-shadow: rgba(24, 230, 127, 0.995) 0 0 2px inset,
    rgba(5, 197, 235, 0.818) 0 1px 2px;
  text-decoration: none;
  transition-duration: 0.15s, 0.15s;
}

.go-back-button:active {
  box-shadow: rgba(0, 0, 0, 0.15) 0 2px 4px inset, rgba(0, 0, 0, 0.4) 0 1px 1px;
}